<div class="row text-area-quote">
  <h2>"Geef me de kracht om te accepteren wat ik niet kan veranderen,</br>
    geef me de moed om te veranderen wat ik wel kan veranderen,</br>
    en geef me de wijsheid om het verschil tussen beide te kennen..."</br>
    <span class="author-color">Franciscus van Assisi</span></h2>
</div>

<div class="line"></div>

<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="text-area-half">
      <h4>Machteld Wery</h4>

      <p>Machteld heeft tijdens haar geneeskunde studie een passie ontwikkeld voor voeding. Tijdens haar bijbaan bij een
        huisartspraktijk heeft zij gezien dat veel mensen baat hebben bij een leefstijlinterventie gecombineerd met
        psychologische technieken. Aldaar heeft zij een methode ontwikkeld waardoor patiënten meer controle verkrijgen
        over
        hun (eet)gedrag en afvallen. Het is geen makkelijke of snelle methode, maar resulteert desondanks in langdurig,
        zo
        niet blijvend, afvallen op een gezonde manier.</br>
        </br>
        Bij de oprichting van praktijk Bellator heeft Machteld de opleiding tot mindfulness trainer gevolgd. Tevens
        heeft
        zij
        de post-HBO opleiding 'uit de ban emotie-eten' gevolgd, gebaseerd op het gelijknamige zelfhulpboek van Joanna
        Kortink
        en Greta Noordenbos.</br>
        </br>
        Machteld heeft zelf haar strijd met overgewicht en eetbuien gevoerd. De coaching bij praktijk Bellator is mede
        gebaseerd op ervaringsdeskundigheid.</p>

    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3">
    <img class="profile-img" ng-src="../images/mfwery.jpg" alt="M. F. Wery">
  </div>
</div>

<div class="line"></div>
<div class="copyright">
  <p>© 2016 by Maurice Smorenberg</p>
</div>
