<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="address-box">
      <img class="contact-img" ng-src="../images/vruchten.png" alt="vruchten">
      <h4>Praktijk Bellator</h4>
      <p>Bergsingel 122</p>
      <p>3037 GM Rotterdam</p>
      <div class="addressLine"></div>
      <p>06-24869292</p>
      <div class="emailAddress">
        <p>wery@praktijkbellator.nl</p>
      </div>
      <div class="addressLine"></div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="temporaryForm">
      <form action="mailto:wery@praktijkbellator.nl" name='form' method="post"
            enctype="text/plain" class="css-form">
        <textarea class="resizedTextbox" name="message" placeholder=" Bericht" required=""></textarea>
        <input type="submit" value="Verstuur e-mail" class="buttonTwo">
      </form>
    </div>
  </div>
  <!--  <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="form-text">
        <h3>Contact</h3>

        <p>Wil je meer informatie over praktijk Bellator? Of een afspraak maken voor een intake gesprek?</br>
          </br>
          Vul dan onderstaand formulier in.</p>
      </div>
      <form name="form" class="css-form" novalidate>
        <input type="text" ng-model="user.name" name="name" placeholder=" Naam" required=""/>
        <br/>
        &lt;!&ndash;<div ng-show="form.$submitted || form.uName.$touched">
          <div ng-show="form.uName.$error.required">Tell us your name.</div>
        </div>&ndash;&gt;

        <input type="email" ng-model="user.email" name="email" placeholder=" Email" required=""/>
        <br/>

        <div ng-show="form.$submitted || form.uEmail.$touched">
          &lt;!&ndash;<span ng-show="form.uEmail.$error.required">Tell us your email.</span>&ndash;&gt;
          &lt;!&ndash;<span ng-show="form.uEmail.$error.email">This is not a valid email.</span>&ndash;&gt;
        </div>

        <input type="text" ng-model="user.subject" name="subject" placeholder=" Onderwerp" required=""/>
        <br/>

        <textarea class="resizedTextbox" ng-model="user.message" name="message" placeholder=" Bericht"
                  required=""></textarea>
        <br/>


        <input class="button" type="submit" ng-click="sendEmail()" value="Verzenden"/>
        <span class="emailErrorMessage" ng-show="form.uEmail.$error.email">This is not a valid email.</span>
      </form>

    </div>-->
</div>

<div class="line"></div>
<div class="copyright">
  <p>© 2016 by Maurice Smorenberg</p>
</div>
