<div class="main-container">
  <img class="main-img" ng-src="../images/main-img.jpg" alt="meditatie">

  <div class="circle">
    <h1 class="main-img-text">Doelgericht<br/>in voeding<br/>en gewicht</h1>
  </div>

</div>

<div class="line"></div>
<div class="row text-area-default">

  <h4>Wil je iets veranderen aan je voedingspatroon? Ben je ontevreden over je gewicht?</h4>

  <p>
    Gezonde voeding, voldoende beweging en nachtrust zijn nodig voor het bereiken en behouden van een gezond en
    natuurlijk gewicht dat bij jou past. Het bereiken en behouden van deze balans is voor veel mensen erg moeilijk.
    Ook al weet je wat gezonde voeding is, kan het zijn dat je jezelf in situaties treft waarin je toch andere keuzes
    maakt. Ook emotionele of stressvolle gebeurtenissen kunnen maken dat je troost zoekt in eten.</br>
    </br>
    Ben je het zat om te jojo-en tussen dieet en eetbui? Heb je een chronisch energie tekort? Wil je jezelf vitaler
    voelen in je lichaam? Wil je de balans in je leven herstellen? Wil je op een constructieve manier met je emoties
    omgaan? Ben je op zoek naar bewustzijn en controle over jouw emoties en (eet)gedrag? En wil je jezelf de moeite
    waard vinden? Of wil je jouw eigen grenzen beter bewaken? Dan kan praktijk Bellator je helpen om jouw antwoord(en)
    te vinden en de kern van jouw (eet)probleem op te lossen.
  </p>

  <h4>Ben jij bereidt om emoties te accepteren zoals ze zijn, zonder er iets aan te veranderen?</h4>
</div>

<div class="line"></div>
<div class="copyright">
  <p>© 2016 by Maurice Smorenberg</p>
</div>
