<div class="row text-area-quote">
  <h2>"Wij leven niet om te eten, wij eten om in leven te blijven."</br>
    <span class="author-color">Socrates</span></h2>
</div>

<div class="line"></div>

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">

      <table class="tarieven-table">
        <tr>
          <th><h3>Tarieven</h3></th></tr>
        <tr>
          <th><p>Intake gesprek</p></th>
          <th><p>60 minuten</p></th>
          <th><p>€ 30,00</p></th></tr>
        <tr>
          <th><p>Vervolg consult</p></th>
          <th><p>45 minuten</p></th>
          <th><p>€ 30,00</p></th>
        </tr>
        <tr>
          <th><p>Groepsconsult</p></th>
          <th><p>120 minuten</p></th>
          <th><p>€ 50,00</p></th>
        </tr>
      </table>

  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <img class="weegschaal-img" ng-src="../images/weegschaal.jpg" alt="weegschaal">
  </div>
</div>

<div class="line"></div>
<div class="copyright">
  <p>© 2016 by Maurice Smorenberg</p>
</div>
