<div class="row text-area-center">
  <h3>Werkwijze</h3>

  <p class="big-paragraph">Ieder behandeltraject is persoonlijk. Bellator levert geen standaard zorg, maar maakt samen met jou een plan van
    aanpak. Jij bent het uitgangspunt. Ieder mens is anders. De reden voor jouw onvrede kan in verschillende
    aandachtsgebieden liggen. Het is belangrijk eerst die oorzaak te vinden, om daar vervolgens iets aan te kunnen
    veranderen. Het kan zijn dat de oorzaak van jouw probleem niets met eten te maken heeft, maar bijvoorbeeld met
    emoties, gewoontes of lichamelijke aspecten.</p>
</div>

<div class="line"></div>

<div class="row text-area-center">
  <h4>Intake gesprek</h4>

  <p>Tijdens het intake gesprek zullen je voedingsgewoonten, beweging en leefstijl besproken worden. Samen kijken we
    naar
    waar jij denkt dat de oorzaak van je probleem ligt. Misschien heb je nog bijkomende klachten, zoals weinig energie,
    laat je vaak over je grenzen gaan of heb je fysieke klachten. Die klachten kunnen meegenomen worden in het opstellen
    van het behandelplan.</p>
  <h4>Behandelplan</h4>

  <p>Na het intake gesprek wordt een behandelplan opgesteld, wat ondertekend wordt. Dit plan is gebaseerd op de doelen
    die
    in het intake gesprek naar voren kwamen.</p>
  <h4>Behandeling</h4>

  <p>Als het bij je past zal je soms oefeningen mee naar huis krijgen en informatie om thuis door te nemen. Op die
    manier
    blijft het leven en kan je een oefening ook na de behandeling als handvat gebruiken om niet terug te vallen. De
    hoeveelheid afspraken en frequentie heb je zelf in de hand. Jij weet het beste wat je nodig hebt en wat in jouw
    leven
    past. Wel is het raadzaam de eerste periode een intensievere frequentie aan te houden. Leefstijlverandering vraagt
    aandacht en herhaling.</p>
</div>

<div class="line"></div>
<div class="copyright">
  <p>© 2016 by Maurice Smorenberg</p>
</div>
